* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffbfb;
}

h1 {
  display: inline-block;
}
header {
  height: 120px;
}
img {
  display: inline;
  float: left;
}
img:hover {
  transform: scale(1.1);
  opacity: 0.97;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav {
  background-color: #919191;
  padding: 1em;
  text-align: center;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 1em;
  margin: 0 1em;
  font-size: medium;
}

section {
  padding-left: 22px;
}

.section1 {
  padding: 22px;
  padding-bottom: 0px;
}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 1em;
  bottom: 0;
  width: 100%;
}

a:hover {
  color: rgb(34, 34, 34);
}

p {
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.2;
}

i {
  margin-right: 10px;
}

h4 {
  opacity: 0.7;
  font: 1em sans-serif;
}
.icon {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 10px;
  opacity: 0.8;
}
.icon:hover {
  color: #ffffff;
  opacity: 1;
}

ul {
  --icon-size: 0.8em;
  --gutter: 0.5em;
  padding: 0 0 0 var(--icon-size);
}

ul li {
  padding-left: var(--gutter);
  font-size: 1.2rem;
  line-height: 1.29;
}

ul li::marker {
  content: "\f25a"; /* FontAwesome Unicode */
  font-weight: bold;
  font-size: 200%;
  color: #000000;
  font-family: FontAwesome;
  font-size: var(--icon-size);
}

.btn1 {
  float: right;
  font-size: 40px;
  position: relative;
  color: #fff;
  margin-top: 17px;
  opacity: 0.8;
}

.btn1:hover {
  color: #fff;
  opacity: 1;
}
